<h1>Here are all Artists</h1>

<% @artists.each do |artist|  %>
<h3><a href="/artists/<%=artist.id%>"><%= artist.name %></a></h3>
<% end  %>

<form method="get" action="/artists/new">
    <input type="submit" value="Create New Artist">
</form>
